p {
  font-family: "Conv_04B_19__",Sans-Serif;
  color: white;
  margin: 0;
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0 4px 0 #000, 4px 0 0 #000, 4px 4px 0 #000; }

#score {
  position: absolute;
  top: 48px;
  left: 48px;
  font-size: 42px; }

#instructions, #debrief {
  position: absolute;
  top: 128px;
  left: 48px;
  font-size: 28px;
  line-height: 1.4; }

#logo {
  position: absolute;
  top: 48px;
  left: 46px;
  margin: 0; }
