p {
  font-family: "Conv_04B_19__",Sans-Serif;
  color: white;
  margin: 0; }

#score {
  position: absolute;
  top: 48px;
  left: 48px;
  font-size: 42px;
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0 4px 0 #000, 4px 0 0 #000, 4px 4px 0 #000; }

#instructions, #debrief {
  font-family: "Conv_04B_19__",Sans-Serif;
  font-size: 28px;
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0 4px 0 #000, 4px 0 0 #000, 4px 4px 0 #000;
  position: absolute;
  top: 132px;
  left: 48px;
  margin: 0; }

#logo {
  position: absolute;
  top: 48px;
  left: 46px;
  margin: 0; }
